
<% layout("/layouts/boilerplate") -%>
<body>
    <div class="row">
        <div class="col-8 offset-2">
            <br>
    <h3>Editing for <%=listings.title%></h3>
    <br>
    <form method="post" action="/listings/<%= listings._id %>?_method=PATCH" class="needs-validation" novalidate enctype="multipart/form-data">
        <div>
        <label for="title" class="form-label"><b>Title</b>&nbsp;</label>

        <textarea required name="listing[title]" id="" cols="30" rows="1" class="form-control" placeholder="Title"><%= listings.title %></textarea>
        <div class="valid-feedback">
            Looks Good!!
        </div>
        <div class="invalid-feedback">
           Title Mandatory
        </div>
        <br>
        </div>
        <div>
            <label for="description" class="form-label"><b>Description</b></label>
        <textarea required name="listing[description]" id="" cols="30" rows="5" class="form-control" placeholder="Describe your uniquiness"><%= listings.description %></textarea>
        <div class="invalid-feedback">
            Description needed
         </div>
        <br>
        </div>

        <div>
            <label for="image" class="form-label" ><b>Previous Image</b></label>
            <br>
            <img src="<%= listings.image.url%>" height="200px"/>
            <br>
            <br>
        </div>
        <div>
            <label for="image" class="form-label"><b>Choose Image</b></label>
        <input type="file" name="listing[image]" id="" cols="30" rows="2" class="form-control"/>
        <div class="invalid-feedback">
           Image Needed
         </div>
        <br>
        </div>
        <div>
            <label for="price" class="form-label"><b>Pricing</b></label>
            <input required type="number" name="listing[price]" class="form-control" placeholder="Per day costing"  value="<%= listings.price %>"/>
            <div class="invalid-feedback">
                Enter valid Price
             </div>
            <br>
        </div>
        
        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="location" class="form-label"><b>Location</b></label>
        <input required type="text" name="listing[location]" class="form-control" value="<%= listings.location %>"/>
        <div class="invalid-feedback">
            Enter Location
         </div>        
    </div>
            
    <div class="mb-3 col-md-8">
        <label for="country" class="form-label"><b>Country</b></label>
        <input required type="text" name="listing[country]" value="<%= listings.country %>"class="form-control"/>
        <div class="invalid-feedback">
            Country not mentioned
         </div>
    </div>
        
        </div>
        <button class=" add-button btn " >Upload</button>
        <br>
        <br>
        <br>
    </form>
</div>
</div>
</body>

